---
- name: Imports influxdb apt key
  apt_key:
    url: https://repos.influxdata.com/influxdb.key
    state: present

- name: Installs apt-transport-https
  apt:
    pkg: apt-transport-https
    state: present

- name: Adds influxdb repository
  apt_repository:
    repo: "deb https://repos.influxdata.com/{{ ansible_lsb.id | lower }} {{ ansible_lsb.codename }} stable"
    state: present
    update_cache: true

- name: Installs telegraf
  apt:
    pkg: telegraf
    state: present

- name: Installs latest telegraf if required
  apt:
    pkg: telegraf
    state: latest
  when: telegraf_install_latest

- name: Adds telegraf config
  template:
    src: telegraf.conf.j2
    dest: /etc/telegraf/telegraf.conf
    mode: 0640
    owner: telegraf
    group: telegraf
  notify: Restart telegraf

- name: Adds input plugins configs
  template:
    src: input.generic.conf.j2
    dest: "/etc/telegraf/telegraf.d/{{ item.key }}.conf"
    mode: 0640
    owner: telegraf
    group: telegraf
  with_dict: "{{ telegraf_inputs }}"
  notify: Restart telegraf

# We ignore errrors here since haproxy & docker might be installed affter
# telegraf
- name: Add telegraf user in required groups when needed
  user:
    name: telegraf
    groups: "{{ item }}"
    append: true
  ignore_errors: true
  when: item in telegraf_inputs
  with_items:
    - docker
    - haproxy
  notify: Restart telegraf

# Adds facl for postfix if required
- name: Adds specific ACLs for postfix if needed
  acl:
    path: "{{ telegraf_inputs.postfix.queue_directory | default('/var/spool/postfix/') }}/{{ item }}"
    entity: telegraf
    etype: user
    permissions: rX
    state: present
    recursive: true
  when: '"postfix" in telegraf_inputs'
  loop:
    - active
    - deferred
    - hold
    - incoming
    - maildrop
