[[inputs.{{ item.value[ "_input_name" ] | default( item.key ) }}]]
{% for conf,val in item.value.iteritems() %}
{%   if conf != "_input_name" %}
{%     if val is string %}
  {{ conf }} = {{ val }}
{%     elif val is sequence %}
  {{ conf }} = [ "{{ val | join('","') }}" ]
{%     else %}
  {{ conf }} = {{ val }}
{%     endif %}
{%   endif %}
{% endfor %}

