{% set hosts = [] %}
{% for host in groups['all'] %}
{%   if host != inventory_hostname %}
{%     if hostvars[host]['ansible_interfaces'] is defined %}
{%       for iface in hostvars[host]['ansible_interfaces'] | sort %}
{%         if not iface | regex_search("^(br|lo|docker)") and 'active' in hostvars[host]['ansible_'+iface] and 'ipv4' in hostvars[host]['ansible_'+iface] %}
{%           set _ = hosts.append(hostvars[host]['inventory_hostname']+'-'+iface) %}
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endif %}
{% endfor %}
[[inputs.ping]]

  ## Hosts to send ping packets to.
  urls = [ {{ '\"' + hosts | join('\", \"') + '\"' }} ]

  ## If set, the total ping deadline, in seconds.  Operates like the -w option
  ## of the ping command.
  deadline = {{ (telegraf_agent_interval|int / 2) | round | int }}
