{% set hosts = [] %}
{% for host in groups['all'] %}
{%   if host != inventory_hostname %}
{%     set facts = hostvars[host]['ansible_facts'] | default({}) %}
{%     if facts['interfaces'] is defined %}
{%       for iface in facts['interfaces'] | sort %}
{%         set iface_facts = facts[iface | replace('-', '_')] | default({}) %}
{%         if not iface | regex_search("^(br|lo|docker)") and 'active' in iface_facts and 'ipv4' in iface_facts %}
{%           set _ = hosts.append(hostvars[host]['inventory_hostname']+'-'+iface) %}
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endif %}
{% endfor %}
[[inputs.ping]]

  ## Hosts to send ping packets to.
  urls = [ {{ '\"' + hosts | join('\", \"') + '\"' }} ]

  ## If set, the total ping deadline, in seconds.  Operates like the -w option
  ## of the ping command.
  deadline = {{ (telegraf_agent_interval|int / 2) | round | int }}
