[[processors.{{ item.value[ "_processor_name" ] | default( item.key ) }}]]
{% for conf,val in item.value.items() %}
{%   if conf != "_processor_name" %}
{%     if val is string %}
  {{ conf }} = {{ val }}
{%     elif val is sequence %}
  {{ conf }} = [ "{{ val | sort | join('","') }}" ]
{%     else %}
  {{ conf }} = {{ val }}
{%     endif %}
{%   endif %}
{% endfor %}

